/* RGB */
$color1: rgba(239, 243, 255, 1);
$color2: rgba(64, 58, 99, 1);
$color3: rgba(174, 98, 201, 1);
$color4: rgba(117, 129, 209, 1);
$color5: rgba(39, 45, 58, 1);
@import url('https://fonts.googleapis.com/css?family=Arimo:400,700&display=swap');
* {
    box-sizing: border-box;
}
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}
body {
    font-family: 'Arimo', system-ui, sans-serif;
    font-size: 16px;
    background-color: $color5;
    color: $color1;
}
header {
    width: 100%;
}
nav {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: $color5;
}
nav a {
    text-decoration: none;
    color: $color3;
    font-weight: 700;
    padding: 10px 25px;
    font-size: 18px;
    letter-spacing: 3px;
    text-transform: uppercase;
}
.text-center {
    text-align: center;
}
.hero {
    background-image: url('../img/earth-horizon.jpg');
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    h1 {
        color: $color1;
        text-align: center;
        font-size: 2.5rem;
        width: 500px;
    }
    img {
        width: 50%;
        height: auto;
    }
}
h1, h2, h3 {
    margin-top: 0;
}
#photo-of-the-day {
    height: 400px;
    background-color: $color2;
}
.number {
    font-size: 3rem;
    margin-bottom: 0;
    + p {
        font-size: 1.5rem;
        margin: 0;
    }
}
section {
    padding: 20px;
    h2 {
        margin-top: 20px;
    }
}
section.numbers {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    p {
        text-align: center;
    }
}
#mars-photos {
    display: flex;
    overflow-x: scroll;
    p {
        width: 100%;
    }
    img {
        min-width: 200px;
        height: auto;
        margin-right: 20px;
    }
}
footer {
    background-color: $color5;
    padding: 20px;
    a {
        color: $color1;
    }
}
/* @media screen and (min-width: 700px) {
    #mars-photos {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 10px;
        img {
            width: 100%;
        }
    }
} */
